$font1:Dosis-ExtraLight, sans-serif;
$font2:Dosis-Bold, sans-serif;
$font3:OpenSans-Semibold, sans-serif;
$font4:OpenSans-Regular, sans-serif;

@font-face {
  font-family: Dosis-ExtraLight;
  src: url("../fonts/Dosis/Dosis-ExtraLight.ttf ")
}

@font-face {
  font-family: Dosis-Bold;
  src: url("../fonts/Dosis/Dosis-Bold.ttf ")
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url("../fonts/Open_Sans/OpenSans-Semibold.ttf ")
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf ")
}

body{
  font-family: $font4!important;
}

.backForForm{
  width:100%;
  height:100%;
  background-color: rgba(97, 95, 94, 0.7);
  z-index: 100;
  padding-top: 50px;
  position: absolute;
}

.pasClass{
  width:100%;
  height:100%;
  z-index: 99;
  position: absolute;
}

.clickedButton{
  background-color: #5bc0de !important;
}

#inputName.ng-dirty.ng-invalid-minlength{
  background-color: #ce8483;
}

#inputPrice.ng-dirty.ng-invalid, #addDate.ng-dirty.ng-invalid{
  background-color: #ce8483;
}

#inputName.ng-dirty.ng-valid, #inputPrice.ng-dirty.ng-valid, #addDate.ng-dirty.ng-valid{
  background-color: #5cb85c;
}

.help-block{
  height:20px;
  color:white!important;
  clear:both;
}

.quantity{
  padding-left: 15px!important;
  padding-right: 15px!important;
}

input[name="send_the_form"]{
  margin:15px auto 0;
  display: block;
  font-size: 18px;
  padding:5px 20px;
  border:0;
  border-radius:3px;
  color:white;
  clear:both;
}

.heightForGroup{
  height:75px;
  //padding-bottom: 35px;
}

.disColor{
  background-color: #ce8483;
  font-family: $font4;
}

.enabColor{
  background-color: #5bc0de;
  font-family: $font3;
}

#addItem label{
  color:yellow;
  font-family: $font4;
  text-transform: uppercase;
}

#closeForm{
  width:20px;
  height:20px;
  position: absolute;
  top:15px;
  right:15px;
  font-size: 22px;
  color:white;
  cursor: pointer;
}

.point{
  cursor:pointer;
}
.forEven{
  background-color: lightcyan;
}

.forOdd{
  background-color: #afd9ee;
}

.styleForTab{
  border: 1px solid white;
  text-align: center;
}

thead{
  background-color: lightcoral;
}

th, thead, tbody, tr, td{
  border: 1px solid white!important;
  text-align: center;
  word-wrap: break-word!important;
}

th,a{
  color:white!important;
  text-align: center!important;
  word-wrap: break-word!important;
}

tr:hover{
  background-color: #428bca;
  color: white;
}

.passWindow{
  background-color: #8c8c8c;
  position: relative;
  top:150px;
  border-radius:10px;
  padding:20px;
}

.passWindow input{
  margin-bottom: 20px;
}

input[name=log]{
  margin: 0 auto 20px!important;
  display:block;
  float:left;
  border-radius: 2px;
}

input[name=pas]{
  margin: 0 auto 20px!important;
  display:block;
  float:right;
  border-radius: 2px;
}

.navButtons{
  padding-bottom: 5px!important;
  //margin-left: 15px;
  border-left:1px solid white;
  background: #709b1D;
  box-sizing:border-box;
  button{
    background: #709b1D;
    color: white;
    border: 0;
    padding-top: 9px;
    padding-bottom:6px;
    border-radius:0!important;
    box-shadow:none;
  }
}

.navButtons button:hover{
  background: white;
  color: #709b1D;
  box-shadow: 0 2px 2px #D9D9D9;
}

.findPanel{
  background: #709b1D;
  padding-bottom: 6px!important;
}

.findPanel span, #findName{
  border-radius: 0;
}

.divTable{
  padding:0!important;
  margin-top: 3px;
}

.findPanel span{
  cursor:pointer;
}


.categories{
  height:40px;
  color:white;
  background-color: #f0ad4e;
  padding-left:15px;
  font-family: $font3;
  padding-top:9px;
  margin-bottom: 5px!important;
}

@media screen and (max-width: 970px){
  .navText{
    display:none;
  }
  .navButtons{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  td,th{
    padding-left: 1px!important;
    padding-right:1px!important;
  }
  .hideIcon{
    display:none;
  }
  .displayIcon{
    display:inline-block;
  }
}

@media screen and (max-width: 768px){
  .hideIcon{
    display:none;
  }
  .displayIcon{
    display:inline-block;
  }
}

@media screen and (min-width: 768px){
  .hideIcon{
    display:inline-block;
  }
  .displayIcon{
    display:none;
  }
}

@media screen and (max-width: 768px) {
  .forCat {
    padding-right: 0 !important;
  }
  .mainWindow {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 550px) {
  .categories{
    padding-left:0;
    text-align:center;
  }
  .list-group button{
    padding-left:0!important;
    padding-right:0!important;
    text-align:center!important;
  }
  input[name=send_the_form]{
    margin-top: 40px;
  }
}

.hint{
  clear:both;
  color:white;
}

footer{
  background-color:#adadad;
  color:white;
  padding:15px;
  text-transform: uppercase;
}

.forFooter{
  position:fixed;
  bottom:0;
  padding:0!important;
}